<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="MyMathServiceLib.MyMathService" behaviorConfiguration="ServiceBehave">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9001/MyMathService"/>
            <add baseAddress="net.tcp://localhost:9002/MyMathService"/>
          </baseAddresses>
        </host>
        <endpoint address="soapBasic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="MyMathServiceLib.IMyMathService" />
        <endpoint address="soapWs" binding="wsHttpBinding" bindingConfiguration="wsHttpBinding" contract="MyMathServiceLib.IMyMathService" />
        <endpoint address="json" binding="webHttpBinding" bindingConfiguration="webHttpBindingJson" behaviorConfiguration="jsonBehavior" contract="MyMathServiceLib.IMyMathService" />
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpBindingXml" behaviorConfiguration="poxBehavior" contract="MyMathServiceLib.IMyMathService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="" binding="netTcpBinding" contract="MyMathServiceLib.IMyMathService"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>

      <service name="PushService.SampleService" behaviorConfiguration="ServiceBehave">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9001/PushService"/>
            <add baseAddress="net.tcp://localhost:9002/PushService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" contract="PushService.ISampleContract"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehave">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <webHttp />
        </behavior>
        <behavior name="poxBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webHttpBindingJson">
          <security mode="None" />
        </binding>
        <binding name="webHttpBindingXml">
          <security mode="None" />
        </binding>
      </webHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttpBinding">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>