################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HttpServerSelfHost/HttpServerSelfHost/bin/Debug
/HttpServerSelfHost/HttpServerSelfHost/obj/Debug
